

a:hover {
  color: maroon;
  text-decoration: none;
}

a:link {
  color: maroon;
}

a:active {
  color: maroon;
}

a:visited{
text-decoration: none;
color:maroon
}

ul {
    list-style:none;
    padding-left: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px 0px;
  min-width:330px;
  width:100%
}


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-size: 1.2em;
  font-family: 'Open Sans', serif;
}

.navbar .navbar-collapse {
  text-align: center;
}

.welcome {
  color: #ccc;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  color: maroon;
  font-size: 4em;
}

.welcomeHr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

figure {
  margin: auto;
}

.content article {
  padding: 60px 60px;
  max-width: 780px;
  margin: 0 auto;
  text-align: left;
  position: center;
}

.content p {
  font-size: 1.2em;
}

.padArticle {
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
}

.container {
  background-color: rgba(128, 128, 128, 0.1);
  max-width: 780px;
}

nav {
  text-align: center;
}

.pic {
  max-width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  align: center;
  margin: 15px;
}

.baloon-box {
  position: relative;
  height: 100vh;
  background-image: url(../imgs/background.png);
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  repeat: no-repeat;
  background-size: cover;
  -webkit-background-style: cover;
-moz-background-style: cover;
-o-background-size: cover;
background-style: cover;
}

.logo {
  height: 25vh;
  width: 100%;
  background-image: url(../imgs/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.fore-baloon {
  position: absolute;
  height: 15vh;
  width: 5.5vw;
  background-image: url(../imgs/b1.png);
  background-repeat: no-repeat;
  background-size: auto 90px;
  background-size: contain;
  top: 50%;
  left: 40%;
}

.back-baloon {
  position: absolute;
  height: 14.8vh;
  width: 5.3vw;
  background-image: url(../imgs/b2.png);
  background-repeat: no-repeat;
  background-size: auto 90px;
  background-size: contain;
  top: 39%;
  left: 53%;
}

.back-baloon2 {
  position: absolute;
  height: 13.2vh;
  width: 5vw;
  background-image: url(../imgs/b3.png);
  background-repeat: no-repeat;
  background-size: auto 90px;
  background-size: contain;
  top: 22%;
  left: 58%;
}

.back-baloon2 .navigation {
  height: 2000px;
}

.boardbox {
  height: auto;
  text-align: center;
}

.boardbox .outBox {
  display: inline-block;
  height: 300px;
  width: 33%;
  width: 247px;
  margin: auto;
}

.boardbox .picBox {
  background-color: white;
  height: 210px;
  margin: 20px 20px 10px 20px;
  border-radius: 500px;
  background-size: cover;
}

.boardbox .infoBox {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  height: 60px;
}

.footer{
  color:white;
  position:center;
  margin:auto;
  background-color:black;
  max-width:780px;
  height:auto;
  padding:20px 5px;
  padding-bottom:0px;
}
.footer a:link, .footer a:visited{
  color:white;
  text-decoration: none;
}
.signature{
font-family: 'Satisfy', cursive;
font-size: 1.5em;
}

.footerLeft{
  width:50%;
  height:auto;
  float:left;
  margin:0 auto;
}
.footerRight{
width:50%;
height:auto;
margin:0 auto;
float:right;
text-align:right;
font-size:3em;
padding-right:10px;

}
