//base styles

a:link:hover
  color:maroon
a:link
  color:maroon
a:link:active
  color:maroon

ul
  list-style-position: inside

body
  font-family: "Open Sans", sans-serif
  margin:0px 0px

.navbar .navbar-nav
  display: inline-block
  float: none
  vertical-align: top
  font-size:1.2em
  font-family: 'Open Sans', serif

.navbar .navbar-collapse
  text-align: center

.welcome
  color: #ccc
  font-weight: bold
  font-family: 'Questrial', sans-serif
  text-align: center
  color:maroon
  font-size:5em

.welcomeHr
    border: 0
    height: 1px
    background: #333
    background-image: linear-gradient(to right, #ccc, #333, #ccc)

figure
  margin: auto

.content
  article
    padding: 60px 60px
    max-width: 780px
    margin: 0 auto
    text-align: left
    position:center
  p
    font-size:1.2em

.padArticle
  padding-left: 40px
  padding-right: 40px
  text-align:justify

.container
    background-color: transparentize(gray,0.9)
    max-width: 780px


nav
  text-align: center

.pic
  max-width: 100%
  border-style: solid
  border-width: 2px
  border-color:black
  align:center
  margin:15px

// Parallax

.baloon-box
  position: relative
  height: 100vh
  background:
    image: url(imgs/background.png)
    size: auto 600px
    position: top center
    attachment: fixed
  overflow: hidden
  repeat: no-repeat
  background-size:cover

.logo
  height:25vh
  width:100%
  background:
    image: url(imgs/logo.png)
    position:center
    repeat: no-repeat
    size:contain
  position:absolute
  top:50%
  margin-top: -50px

.fore-baloon
  position:absolute
  height:15vh
  width:5.5vw
  background:
    image: url(imgs/b1.png)
    repeat:no-repeat
    size:auto 90px
  background-size:contain
  top:50%
  left:40%

.back-baloon
  position:absolute
  height:14.8vh
  width:5.3vw
  background:
    image: url(imgs/b2.png)
    repeat:no-repeat
    size:auto 90px
  background-size:contain
  top:39%
  left:53%

.back-baloon2
  position:absolute
  height:13.2vh
  width:5vw
  background:
    image: url(imgs/b3.png)
    repeat:no-repeat
    size:auto 90px
  background-size:contain
  top:22%
  left:58%

  // REST OF THE PAGE

  .navigation
    height:2000px

//board part

.boardbox

  height:auto
  text-align:center


  .outBox
    display: inline-block
    height:300px
    width: 33%
    width:247px
    margin:auto
  .picBox
    background:
      color:white
    height:210px
    margin: 20px 20px 10px 20px
    border-radius: 500px

    background:
      size:cover

  .infoBox
    text-align:center
    margin-left:0px
    margin-right:0px
    height:60px
